<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
  <style>
    body {width: 50%;}
  </style>
</head>

<body style="margin: 10px 20px 0px">
<div id=maintext>
  Hi, I'm Algae. Welcome to my home page!
  <br>
  <br>
  Not too sure what I'm going to use this space for. A music server at least.
  Hosting files for friends to download sometimes too.
  <br>
  <br>
  Mostly want somewhere to play around with javascript and python and django sometimes
  <br>
  <br>
  <a href="muse">Music Streaming</a>
  <br>
  <a href="rock_facts">Rock facts!</a>
  <br>
  <br>
</div>  
<div id=about>
  <p>
  If you'd like to stalk me:
  <br>
  <a target="_blank" href=https://github.com/helbaum>You can find my github here</a>
  <br>
  <a target="_blank" href=https://myanimelist.net/animelist/BetaPersei?status=7&order=4&order2=0>Check out my garbage taste in anime on MAL</a>
  <br>
  <address>
  Contact me at <a href= "mailto:algae.elbaum@gmail.com">algae.elbaum@gmail.com</a>
  </address>
  </p>  
</div>

</body>

</html>
