<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body style="margin: 10px 20px 0px">
Hi, I'm Algae. Welcome to my home page!
<br>
<br>
<div id=about>
<a target="_blank" href=https://github.com/helbaum>You can find my github here</a>.
<br>
</div>
<br>
Not too sure what I'm going to use this space for. A music server at least.
<br>
Mostly to stay in practice I guess.
<br>
<br>
<a href="muse">Music Streaming (WIP)</a>
<br>
<a href="miscellany">Miscellany. Probably mostly going to be dumb factoids</a>
<br>
<a href="turing_machine">Turing machines (WIP/link temporarily dead)</a>
<br>

<br>
<br>
<address>
Contact me at <a href= "mailto:algae.elbaum@gmail.com">algae.elbaum@gmail.com</a>
</address>
</body>

</html>
